aioredis
annotated-types
anyio
async-timeout
click
colorama
fastapi
fastapi-limiter
gunicorn
h11
idna
packaging
pydantic
pydantic_core
python-decouple
redis
sniffio
starlette
typing_extensions
uvicorn
waitress
